version: '3.8'
services:
  postgres:
    image: postgres:15-alpine
    ports:
      - "51214:5432"
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: passtravels
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
